__pycache__
.DS_Store
.condaauto
.coverage
test_runner
manager_join_src.sh
worker_join_src.sh
node_modules
backend_logs
frontend_logs
test_copy.txt
local_orchestration
docker-compose.yml
archive
azure_deploy
